.container{
    height: 600px;
    width: 900px;
    border: 1px solid black;
    margin: auto auto ;
    margin-top: 150px;
    display: flex;
}
.box{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    transition: 0.3s ease;
    border-radius: 0 7px 7px 0;
}
.box:hover{
    transform: scale(1.2);
}
.boxcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 10px;
}
#b1{
    background-color: rgb(15, 161, 15);
}
#b2{
    background-color: skyblue;
}
#b3{
    background-color: red;
}
#b4{
    background-color: grey;
}
.textcontainer{
    margin-left: 100px;
    margin-top: 130px;
}