body{
    padding: 100px;
}

table{
    width: 100%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    text-align: left;
}
tr{
    height: 40px;
}

th{
    background-color: rgba(14, 164, 92, 0.854);
    color: white;
    font: bold;
}